html, 
body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif ;
    font-weight: 400;
    line-height: 1.8em;
    color:#666 ;

}

.ping1{
    background-image: url(Free-Nature-Backgrounds-Seaport-During-Daytime-by-Pexels.jpeg);
    min-height: 100%;
   
}
.ping2{
    background-image: url(wallpapersden.com_pier-river-mountain_4900x3200.jpg);
    min-height: 100%;
   
}
.ping3{
    background-image: url(124569.jpg);
    min-height: 400px;
   
}



.ping1 ,
 .ping2 , 
 .ping3 {
    position: relative;
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.textbg {
    background: #313534;
    color: #fff;
    padding:20px ;
}
.section{
    padding: 50px 80px;
    text-align: center;

}

.section-light{
    background-color: #f4f4f4;
    color: #666;
}
.section-dark{
    background-color: #f4f4f4;
    color: #666;
}